

#app {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #2c3e50;
}


#wrapper {
    height: 100%;
    width: 100%;
}
#form-container{


    &:hover {


    }
}

.custom-shadow{
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.custom-shadow-sm{
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

/* In FontawesomePicker.vue <style scoped lang="scss" /> */

.icon-preview-fade-enter-active, .icon-preview-fade-leave-active {
    transition: opacity .25s;
}
.icon-preview-fade-enter, .icon-preview-fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
    opacity: 0;
}

.preview-container{
    width: 100%;
    position: relative;
}
.previewer{
    position: absolute;
    width: 100%;
    min-height: 50px;
    max-height: 500px;
    overflow: auto;
    background: white;
    top: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.icon-preview{

    width: 20%;
    padding-top: 20%;
    position: relative;

    @media (max-width: 800px) {
        width: 33%;
        padding-top: 33%;
    }

    .icon-wrapper{
        position: absolute;
        height: 80%;
        width: 80%;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        display: flex;
        justify-content: center;
        align-items:center;
        cursor: pointer;
        transition: ease-in-out all .25s;

        &:hover, &.selected{
            background: #42b883;
            color: #fbfbfb;
        }

        i {
            font-size: 4vw;
        }
    }
}
